{% extends 'base_home.html' %}a

b
{% block body %}
    <div class="container mt-4">
        <h3 class="text-center">Editant el capítol {{ cap.num_capitulo }} de {{ cap.libro.titulo }}</h3>
        <form action="" method="post" class="mb-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-block form-group mt-2">
                <label for="titulo" class="float-left mr-1">Titol</label>
                {{ form.titulo }}
            </div>
            <div class="d-block form-group mt-2">
                <label for="descripcion" class="float-left mr-1">Nº capítol</label>
                {{ form.num_capitulo }}
            </div>
            <div class="d-block form-group mt-2">
                <textarea name="contenido" id="id_contenido" rows="10" cols="40">{{ cap.contenido|safe }}</textarea>
            </div>
            <button type="submit" class="btn btn-default"><i class="fas fa-times mr-1"></i><a class="nounderline" href="{% url 'libros' %}">Cancelar</a></button>
            <button type="submit" class="btn btn-primary"></i><i class="fas fa-check mr-1"></i>Actualitzar</button>
        </form>
    {% if form.has_error %}
        {{ form.errors }}
    {% endif %}
    </div>
    <script>
        tinymce.init({
            selector: '#id_contenido',
            themes: "modern",
            plugins: 'print preview powerpaste searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount tinymcespellchecker a11ychecker imagetools mediaembed  linkchecker textpattern help',
            toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
            height: 300
        });
        $("#id_titulo").val("{{ cap.titulo }}").add("form-control ml-1")
        $("#id_num_capitulo").val("{{ cap.num_capitulo }}").add("form-control ml-1")
    </script>
{% endblock %}