{% extends 'base_home.html' %}
{% block scripts %}
<script>
        $(".table").DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 2 }
            ],
            "language": {
                "sLengthMenu":    "Mostrar _MENU_ capítols",
                "sZeroRecords":   "No s'han trobat resultats",
                "sEmptyTable":    "Aquest llibre no té capítols",
                "sInfo":          "Mostrant registres del _START_ al _END_ d'un total de _TOTAL_ registres",
                "sInfoEmpty":     "Mostrant registres del 0 al 0 d'un total de 0 registres",
                "sInfoFiltered":  "(filtrat d'un total de _MAX_ registres)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "oPaginate": {
                    "sFirst":    "Primer",
                    "sLast":    "Últim",
                    "sNext":    "Següent",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Ordenar de manera ascendent",
                    "sSortDescending": ": Ordenar de manera descendent"
                }
            }
        })
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>{{ libro.titulo }}</h1>
        <table class="table table-striped table-bordered" align="center">
            <thead>
            <tr>
                <th class="text-center" style="width: 75px">Nº capítol</th>
                <th class="text-center">Títol</th>
                <th class="text-center" style="width: 75px">Opcions</th>
            </tr>
            </thead>
            <tbody>
            {% for cap in caps %}

                <tr>
                    <td class="text-center">{{ cap.num_capitulo }}</td>
                    <td class="text-center">{{ cap.titulo }}</td>
                    <td class="text-center"><a href="{% url 'borrar_cap' cap.id %}"><i class="far fa-trash-alt mr-1"></i></a><a href="{% url 'editar_cap' cap.id %}"><i class="fas fa-edit"></i></a></td>
                </tr>
                {#            <div class="d-block">{{ cap.contenido|safe }}</div>#}
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'nuevo_cap' libro.id %}" class="btn btn-primary">Afegir un capítol</a>
    </div>

{% endblock %}