{% extends 'base_home.html' %}
{% block scripts %}
<script>
        $("#buscar").click(function () {
            buscar()
        });
        $("#searchbar").keyup(function (e) {

            if(e.which === 13){
                buscar()
            }

        })
        function buscar() {
            var type = $("#type option:selected").val();
            var q = $("#searchbar").val();
            if (q == "" || type == ""){
                return false
            }
            $.get( "/cercador/cerca?type="+type+"&q="+q, function( data ) {
                console.log(data);
                $("#resultados").children().remove()
                $.each(data, function(index,element){console.log("entra")
                    var div = $("<div class=\"col-md-4 text-center\">")
                    var img = $("<div class=\"responsive-img-container\">")
                    img.append("<img src=\""+element.portada+"\" class=\"responsive-img\">")
                    div.append(img)
                    div.append("<h3><a class=\"text-dark\" href=\"/llibre/"+element.libro_id+"\">"+element.titulo+"</a></h3>")
                    $("#resultados").append(div)
                })
            });
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9 pr-1 pl-1">
                <input type="text" name="searchbar" id="searchbar" class="form-control" placeholder="Buscar...">

            </div>
            <div class="col-md-2 pr-1 pl-1">
                <select name="type" id="type" class="form-control ml-1 ">
                    <option value="titulo_libro" selected>Títol llibre</option>
                    <option value="titulo_cap">Títol capítol</option>
                    <option value="genero">Gènere</option>
                    <option value="autor">Autor</option>
                </select>
            </div>
            <div class="col-md-1 pr-1 pl-1">
                <button id="buscar" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-md-12 mt-4">
                <div class="row" id="resultados">
                    {% if libros %}
                        {% for libro in libros %}
                            <div class="col-md-4 text-center">
                                <div class="responsive-img-container" align="center">
                                    <img src="{{ libro.imagen_perfil.url }}" class="responsive-img">
                                </div>
                                <h3><a class="text-dark" href="{% url 'ver_libro' libro.id %}">{{ libro.titulo }}</a></h3>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}