{% extends 'base_home.html' %}
{% block body %}
<div class="container">
    <div class="col-md-12 mt-5" align="center">
        {% if libros %}
        <div class="slick">

            {% for libro in libros %}
                <div class="row">
                    <div class="col-md-12"><img class="carousel-img" src="media/{{ libro.imagen_perfil }}" alt="{{ libro.titulo }}"></div>
                    <div class="col-md-12"><a href="#">{{ libro.titulo }}</a></div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h1>No hi ha llibres disponibles actualment</h1>
        {% endif %}
    </div>
    <div class="col-md-12 mt-5" align="center">

    </div>
</div>
    <script>
    $('.slick').slick({
        arrows: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        speed: 700
    });

</script>
{% endblock %}
